.wrapper {
  text-align: center;
  margin: 0 0 0 0;
  height: 100vh;
  padding: 0 0 0 0;
  position: relative;
}

.wrapper:before {
  content: ' ';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.025;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar {
  background: transparent;
}

.intro-animation {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('../images/Intro.gif');
  background-position: center;
  background-size: 100%;
  position: fixed;
  z-index: -1;
  opacity: 1;
  animation: Move-up 2s 2.9s forwards;
}

@keyframes Move-up {
  from { background-position: center; }
  to { background-position: bottom; }
}

.jumbotron {
  padding-top: 50vh;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100vh;
  background-color: rgba(255, 255, 255, 0);
}

.pop-table {
  display: block;
  width: 200px;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: auto;
  box-sizing: content-box;
  margin: auto;
  margin-top: 2vh;
}

.pop-table tbody {
  display: block ;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 40vh;
}

.pop-table thead tr {
  display: block;
}

.pop-table th, .pop-table td {
  padding: 5px;
  text-align: center;
  width: 75px;
}

.module-container {
  margin: auto;
  width: 75%;
}

p, h1 {
  font-family: Tahoma, Geneva, sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

.mini-logo {
  margin: auto;
  z-index: 0;
  background-image: url('../images/ECONSIMS.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 40vh;
  min-height: 20vh;
}

.menu {
  padding: 70px 0;
  text-align: center;
  margin: auto;
  width: 80%;
}

.menu-item {
  border-radius: 8px;
  box-shadow: 0px 5px 8px #888888;
  position: relative;
  top: 0px;
  transition: all ease 0.2s;
}

.menu-item:hover {
  box-shadow: 0 0 10px #0073ff;
  cursor: pointer;
  background-color: #eaeeff;
  top: 3px;
}

.menu-item-text {
  height: 100px;
  overflow-y: scroll;
}

.menu-item-text::-webkit-scrollbar {
  width: 5px;
}

.menu-item-text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: transparent;
}

.menu-item-text:hover::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.menu-item-title {
  font-weight: bold;
}

.sim-description {
  width: 90%;
  margin: auto;
}

.button-group {
  padding: 15px;
}

.input-group-append {
  width: fit-content;
  justify-content: center;
}

.data-table-container {
  height: min-content;
  width: fit-content;
  overflow: auto;
  margin-top: 50px;
}

.data-table {
  position: relative;
}

.data-table th {
  background: white;
  position: sticky;
  top: 0;
}

.home-button {
  margin: 15px;
}

.sample-size-input {
  width: 60%;
  margin: auto;
  margin-bottom: 25px;
}

.input-slider-group {
  height: 30px;
  width: 400px;
  margin: auto;
  align-items: center;
}

.custom-range {
  width: 60%;
}

.least-squares-container {
  margin-left: -100px;
  margin-right: 0;
}

.btn-selected {
  background-color: #4CAF50;
  color: white;
  border: 1px solid gray;
}

.btn-unselected {
  background-color: #555555;
  color: white;
  border: 1px solid gray;
}
