.dataTableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: min-content;
  overflow: auto;
  margin-top: 50px;
}

.dataTable {
  width: 100%;
  position: relative;
}

.dataTable th {
  background: white;
  position: sticky;
  top: 0;
}