.Wrapper {
  text-align: center;
  margin: 0 0 0 0;
  height: 100vh;
  padding: 0 0 0 0;
}

.Wrapper:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.05;
  background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-position: center;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.PopTable {
  margin: auto;
  margin-top: 2vh;
}

@keyframes bg-fade {

}

.App-bg {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url('./Intro.gif');
  background-position: center;
  background-size: 100%;
  position: fixed;
  z-index: -1;
  opacity: 1;
  animation: Move-up 2s 2.9s forwards;
}

@keyframes Move-up {
  from { background-position: center; }
  to { background-position: bottom; }
}

.Splash {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.918);
  position: fixed;
  z-index: 2;
}

.Splash:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.01;
  background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-position: center;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.Jumbotron {
  padding-top: 50vh;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100vh;
  background-color: rgba(255, 255, 255, 0);
}

.Jumbotron h1 {
  color: black;
}

.Sidebar {
  display: block;
  left: 0vh;
  padding: 0 0 0 0;
  width: 80px;
  height: 100vh;
  background-color: rgba(248, 183, 145, 0.767);
  transition: width .5s;
}

.PopTable {
  display: block;
  width: 200px;
  table-layout: fixed;
  border-collapse: collapse;
  overflow: auto;
  box-sizing: content-box;
}

.PopTable tbody {
  display: block ;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  height: 40vh;
}

.PopTable thead tr {
  display: block;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; 
}

.PopTable th, .PopTable td {
  padding: 5px;
  text-align: center;
  width: 75px;
}

.Plate {
  padding-top: 30vh;
  width: 100%;
  background-color: rgb(255, 255, 255, 0);
}

.Border {
  border: solid;
}

.TabBar {
  position: absolute;
  top: 19.5vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

#Menu {
  position: absolute;
  right: 0;
  top: 20vh;
  z-index: 1;
  /* border: solid 1px orange; */
  /* border-bottom: none; */
}

.MiniLogo {
  position: absolute;
  margin-top: 4vh;
  right: 85vh;
  top: 0vh;
  z-index: 0;
  background-image: url('./ECONSIMS.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  width: 40vh;
  min-height: 20vh;
}

.highcharts-grid-line {
  stroke-width: 0px;
	stroke: #d8d8d8;
}

.Center {
  margin: auto;
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
}

.nav-tabs {
  /* color: blue; */
  border-color: orange;
}

.nav-tabs .nav-link.active {
    color: orange;
    border-color: orange;
    border-bottom-color: white;

}

a:not([href]):not([tabindex]):hover {
  color: orange;
  border-color: orange;
  border-bottom-color: white;
  cursor: pointer;
}

.Sidebar button { 
  font-size: 0.5em;
  transition: font-size .5s;
  border: none;
  border-radius: 0;
}

.Sidebar:hover { 
  width: fit-content;
}

.Sidebar:hover button {
    font-size: 1em;
}

.Nav {
  padding: 150px 0;
  margin: 0 0 0 40vh;
  text-align: center;
  width: 60%;
  opacity: .8;
  position: absolute;
  z-index: 10;
  overflow: hidden;
}

.App {
  text-align: center;
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.575);
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.marge {
  margin: 0%;
}

.Logo {
  display: block;
  margin: auto;
  animation: Logo-intro 1500ms 2000ms ease forwards; 
}

.App-intro {
  font-size: large;
}

@keyframes Logo-intro {
  to { transform: scale(.5, .5); }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
